@tailwind base;
@tailwind components;
@tailwind utilities;

.discover {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}

.gray-svg {
    top: 337px;
}

@screen xl {
    .corner-svg {
        width: 1098px;
        height: 642px;
    }
}

@media (min-width: 1600px) {
    .corner-svg {
        width: 1300px;
        height: 800px;
    }

    .gray-svg {
        top: 450px;
    }
}