@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1280px) {
    .discover {
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    }
}

.gray-svg {
    top: 337px;
}

@screen xl {
    .corner-svg {
        width: 1098px;
        height: 642px;
    }

    .why {
        height: 1000px;
    }

    .discover {
        clip-path: none;
    }
}

@media (min-width: 1600px) {
    .corner-svg {
        width: 70%;
        height: 60%;
    }

    .gray-svg {
        top: 29%;
        height: 1800px;
    }

    .why {
        height: 1081px;
    }

    .icons {
        @apply px-0 gap-x-11;
    }
}

@media (min-width: 1920px) {
    .gray-svg {
        width: 80%;
    }
}