@tailwind base;
@tailwind components;
@tailwind utilities;

.discover {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}

.top-corner {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.middle-corner {
    width: 1800px;
    height: 1600px;
    top: 490px;
    clip-path: polygon(0 43%, 0 25%, 65% 0, 100% 25%, 100% 100%);
}

@screen xl {
    .top-corner {
        width: 1400px;
        height: 900px;
    }
}